<div class="container">

	<div class="row">
    <div class="col-xs-6 col-sm-8 col-lg-10">
    
      <div class="filtro">
    	<form role="form">
      		<div class="form-group">
        		<label for="serieBuscada">Buscar</label>
        			<input ng-model="serieBuscada" class="form-control" id="serieBuscada" placeholder="Buscar serie">
      		</div>
    	</form>
  	  </div>
    
    
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed example-animate-container">
      <tbody>
      <tr>
        <th>Nombre</th>
        <th>Temporadas</th>
        <th>Estado</th>
      </tr>
        
      <tr ng-repeat="serie in seriesCtrl.series | filter:serieBuscada" ng-click="seriesCtrl.editarSerie(serie)">  
        <td class="col-xs-4">  {{serie.nombre}}
        	
        <td class="col-xs-2">{{serie.temporadas}}</td>
        <td class="col-xs-3" ng-class ="{'danger': serie.estado === 'Pendiente', 'success' : serie.estado === 'Vista', 'warning' : serie.estado === 'Mirando'}">{{serie.estado}}</td>
      </tr>
     
      </tbody>
    </table>
  </div>
 </div>
    
    
 	<div class="col-xs-6 col-sm-4 col-lg-2" ng-show = "seriesCtrl.serieActual"> 
		<br>
		<br>
		<br>
		<h3>{{seriesCtrl.serieActual.nombre}}</h3>
		<br>
  		<h5>Temporadas: {{seriesCtrl.serieActual.temporadas}}</h5>
  		<h5>Estado: {{seriesCtrl.serieActual.estado}}</h5>
  		<br>
  		<br>
  	
  	<div class="container">
  		<button type="button" class="btn btn-success" ng-click= "seriesCtrl.estadoAVista(seriesCtrl.serieActual)">Vista</button>
  		<button type="button" class="btn btn-warning" ng-click= "seriesCtrl.estadoAMirando(seriesCtrl.serieActual)">Mirando</button>
  		<button type="button" class="btn btn-danger" ng-click= "seriesCtrl.estadoAPendiente(seriesCtrl.serieActual)">Pendiente</button>
	</div>
	</div>
  
	</div>
</div>